<div id="container">
		<div id="header">
			<div id="toprow">
				<p id="day">[day]</p>
				<p id="daydate">[date]</p>
			</div>
			<div id="bottomrow">
				<p id="month">[month] [year]</p>
				<p id="year">[year]</p>
				<p id="taskstodo">[number of task(s)]</p>
			</div>
		</div>
		<div id="tasks">
		
		
			
		</div>
		
		<div class="footer">
			<div class="add">
			<button id="add">+</button>
			</div>
		</div>
	</div>
<script src="../js/script.js"></script>
